* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #333;
    height: 100vh;
    overflow: hidden;
}
header {
    padding: 20px 10px;
    width: 100vw;
}
header span {
    padding: 10px;
    color: black;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease-in-out;
    font-size: 20px;
}
header span:hover {
    background: black;
    color: white;
    box-shadow: 0 0 10px black;
}
.Container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 62.7px);
}
.Container .TelaInicial {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Container .TelaInicial .ContainerImg {
    position: relative;
    width: 500px;
    height: 500px;
    border: solid gold 15px;
    border-top: solid black 15px;
    border-bottom: solid black 15px;
    border-radius: 50%;
    animation: spin 4s alternate infinite; 
}
.Container .TelaInicial .ContainerImg::after {
    position: absolute;
    content: '';
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    background: #333;
    border-radius: 50%;
}
.Container .TelaInicial .ContainerImg::before {
    position: absolute;
    content: '';
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    background: #333;
    border-radius: 50%;
}
@keyframes spin {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}
.Container .TelaInicial img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 440px;
    border-radius: 50%;
    box-shadow: 0 0 20px black, 0 0 10px white;
}
.Container .Rigth {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    width: 30px;
    display: grid;
    place-content: center;
}
.Container .Rigth ul {
    color: white;
    list-style: none;
    display: flex;
    gap: 20px;
    transform: rotate(90deg);
}
.Container .Rigth ul li {
    cursor: pointer;
    transition: .4s ease-in-out;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.Container .Rigth ul li:hover {
    transform: rotate(-90deg) translateX(-20px);
    background: white;
    color: black;
    border-radius: 5px;
}
.Container .Rigth ul .NavMenuActive {
    transform: rotate(-90deg) translateX(-20px);
    color: white;
    border-radius: 5px;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
}
.Container section {
    width: 100%;
    height: 100%;
}
.MenuFloat {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 0px;
    height: 0px;
    padding: 0px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    transition: .4s ease-in-out;
}
.MenuFloat button {
    position: relative;
    border: none;
    background: none;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.MenuFloat button::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    background: grey;
    z-index: -1;
    left: 0;
    transition: .4s ease-in-out;
}
.MenuFloat button:hover::after {
    width: 100%;
}
.MenuFloat button img {
    width: 35px;
}
.HomeContainer, .ProjetosContainer {
    width: 100%;
    height: 100%;
    display: none;
}
.HomeContainer {
    display: none;
}
.ProjetosContainer {
    display: none;
    width: 94%;
}
.ActiveMenuFloat {
    width: 200px;
    height: auto;
    padding: 10px;
    z-index: 1000;
}
.Container section .HomeContainer section {
    width: 90%;
    height: 210px;
    background: white;
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}
.Container section .HomeContainer h4 {
    font-size: 30px;
    color: white;
    margin: 40px 20px;
}
.Container section .HomeContainer section #ContainerCard {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}
.Container section .HomeContainer section #ContainerCard::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.Container section .HomeContainer section #ContainerCard:hover::-webkit-scrollbar {
    height: 10px;
}
.Container section .HomeContainer section #ContainerCard::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.Container section .HomeContainer section .CardProjetos {
    height: 100%;
    width: auto;
    background: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}
.Container section .HomeContainer section .CardProjetos:hover {
    box-shadow: 0 0 20px black;
    animation: Transform 1s linear infinite;
}
@keyframes Transform {
    0%, 100% {
        transform: translateX(-5px) rotate(2deg);
    }
    50% {
        transform: translateX(5px) rotate(-2deg);
    }
}
.Container section .HomeContainer section #ContainerCard .CardProjetos img {
    height: 150px;
    border-radius: inherit;
}
.Container section .HomeContainer section #ContainerCard .CardProjetos:hover img {
    animation: TransformImg 1s linear infinite;
}
@keyframes TransformImg {
    0%, 100% {
        transform: translateX(2px) rotate(-2deg);
        filter: drop-shadow(0 0 10px white);
    }
    50% {
        transform: translateX(-2px) rotate(2deg);
        filter: drop-shadow(0 0 20px white);
    }
}
.Container section .HomeContainer section #ContainerCard .CardProjetos .Controls {
    display: flex;
    gap: 20px;
}
.Container section .HomeContainer section #ContainerCard .CardProjetos .Controls button {
    padding: none;
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.Container section .HomeContainer section #ContainerCard .CardProjetos .Controls button:hover {
    color: red;
}
.Container section .HomeContainer section button {
    border: none;
    height: 100%;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.Container section .HomeContainer section button:hover {
    box-shadow: 0 0 10px black;
}
.Container section .HomeContainer section button:hover ion-icon {
    color: red;
}
.Container section .HomeContainer section #ContainerCard .CardContato {
    display: flex;
    align-items: center;
    gap: 10px;
    width: auto;
    background: grey;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.Container section .HomeContainer section #ContainerCard .CardContato:hover {
    box-shadow: 0 0 20px black;
    animation: Transform 1s linear infinite;
}
.Container section .HomeContainer section #ContainerCard .CardContato img {
    width: 50px;
}
.Container section .HomeContainer section #ContainerCard .CardContato:hover img {
    animation: TransformImg 1s linear infinite;
}
.Container section .ProjetosContainer {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
}
.Container section .ProjetosContainer::-webkit-scrollbar {
    width: 10px;
}
.Container section .ProjetosContainer::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.Container section .ProjetosContainer .CardProjetos {
    width: calc(100% / 5);
    height: auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
}
.Container section .ProjetosContainer .CardProjetos:hover {
    animation: Transform 1s linear infinite;
}
.Container section .ProjetosContainer .CardProjetos img {
    width: 100%;
}
.Container section .ProjetosContainer .CardProjetos .Controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Container section .ProjetosContainer .CardProjetos .Controls button {
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    background: whitesmoke;
}
.Container section .ProjetosContainer .CardProjetos .Controls button:hover {
    background: dimgray;
    color: white;
}
.Container section .ProjetosContainer .CardProjetos .Controls button:focus {
    background: black;
    color: white;
}